/.$task-1.drawio.bkp
/.$task-1.drawio.dtmp
/.$task-2.drawio.bkp
/Task 5/Part 1/.terraform.lock.hcl
/Task 5/Part 2/.terraform.lock.hcl
/.idea/libraries/greet_lambda.xml
/.idea/khoadd6-udacity-sa-project-2.iml
/.idea/misc.xml
/.idea/modules.xml
/task-1.drawio
/task-2.drawio
/Task 5/Part 1/terraform.tfstate
/Task 5/Part 2/terraform.tfstate
/Task 5/Part 1/terraform.tfstate.backup
/Task 5/Part 2/terraform.tfstate.backup
/Task 5/Part 2/.terraform/providers/registry.terraform.io/hashicorp/archive/2.4.0/windows_amd64/terraform-provider-archive_v2.4.0_x5.exe
/Task 5/Part 1/.terraform/providers/registry.terraform.io/hashicorp/aws/5.9.0/windows_amd64/terraform-provider-aws_v5.9.0_x5.exe
/Task 5/Part 2/.terraform/providers/registry.terraform.io/hashicorp/aws/5.9.0/windows_amd64/terraform-provider-aws_v5.9.0_x5.exe
/.idea/vcs.xml
